[submodule ".atlas/github.com/sergio-sisternes-epam/autogenesis-atlas"]
	path = .atlas/github.com/sergio-sisternes-epam/autogenesis-atlas
	url = https://github.com/sergio-sisternes-epam/autogenesis-atlas.git
	branch = main
